#map {
  height: 60rem;
  width: 80%;
  margin: 20px auto;
}

body {
  color: gray;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  font-size: 2em;
  font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

.jumbotron p {
  font-size: 1em;
}
.form-group {
  margin: 10px;
}
